div{
    margin: 20px auto 20px;
}

body{
    background-image: url(img/3singes.jpg);
    background-repeat:no-repeat;
    background-size: cover;

}
input.btn{
    height: 50px;
    width: 150px;
    background-color: green;
    margin: 20px auto 20px;
    text-align: center;
    color: white;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    font-weight: bolder;
}
div.reponse1
{
    margin-top:500px;
    color: red;
    height: auto;
    width: auto;
    background: white;
    opacity: 0.3
}
div.question{
    color: white;
    font-weight: bold;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;

}
h1{
    text-align: center;
    color: black;
    padding-bottom: 50px;
}
body{
    overflow-y: hidden;
}
